# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
venv/
env/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS / Editor
.DS_Store
.vscode/
.idea/

# Data (optional - uncomment if dataset shouldn't be pushed)
# data/*.csv

# Logs
*.log
